<%= form_with(model: job, class: "flex flex-col gap-4") do |form| %>

  <% if job.errors.any? %>
    <div role="alert" class="alert alert-error">
      <span><%= pluralize(job.errors.count, "errore impedisce", "errori impediscono") %> il salvataggio:</span>
      <ul>
        <% job.errors.each do |error| %>
          <li>- <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Descrizione (Brogliaccio) *</legend>
    <%= form.text_area :description, class: "textarea w-full", rows: 3 %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Note Operative</legend>
    <%= form.text_area :notes, class: "textarea w-full", rows: 2 %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Data *</legend>
    <%= form.date_field :date, class: "input w-full" %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Inizio (Opzionale)</legend>
    <%= form.datetime_field :start_at, class: "input w-full" %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Fine (Opzionale)</legend>
    <%= form.datetime_field :end_at, class: "input w-full" %>
  </fieldset>

  <fieldset class="fieldset">
    <label class="flex items-center gap-2 cursor-pointer">
      <%= form.check_box :with_video, class: "checkbox" %>
      <span>Servizio con attrezzatura Video?</span>
    </label>
  </fieldset>

  <%= render "shared/job_location_builder",
             form: form,
             label: "Tappe / Locations",
             search_url: locations_searches_path,
             modal_id: "new_location_modal",
             target_list_id: "locations_list_target",
             input_id: "modal_location_name" %>

  <%= render "shared/participation_builder",
             form: form,
             role: Participation::ROLES[:photographer],
             label: "Fotografi Assegnati",
             search_url: contacts_searches_path,
             participations: job.participations.select { |p| p.role == Participation::ROLES[:photographer] },
             modal_id: "new_photographer_modal",
             target_list_id: "photographers_list_target",
             input_id: "modal_photographer_name" %>

  <%= render "shared/participation_builder",
             form: form,
             role: Participation::ROLES[:client],
             label: "Clienti",
             search_url: contacts_searches_path,
             participations: job.participations.select { |p| p.role == Participation::ROLES[:client] },
             modal_id: "new_client_modal",
             target_list_id: "clients_list_target",
             input_id: "modal_client_name" %>

  <%= render "shared/participation_builder",
             form: form,
             role: Participation::ROLES[:subject],
             label: "Soggetti",
             search_url: contacts_searches_path,
             participations: job.participations.select { |p| p.role == Participation::ROLES[:subject] },
             modal_id: "new_subject_modal",
             target_list_id: "subjects_list_target",
             input_id: "modal_subject_name" %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Location (Legacy)</legend>
    <%= form.text_field :legacy_location_text, class: "input w-full" %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Ora inizio (Legacy)</legend>
    <%= form.text_field :from_time, class: "input w-full" %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Ora fine (Legacy)</legend>
    <%= form.text_field :to_time, class: "input w-full" %>
  </fieldset>

  <div class="mt-4">
    <%= form.submit "Salva Lavoro", class: "btn btn-primary" %>
  </div>

<% end %>

<%= render layout: "shared/modal", locals: { id: "new_location_modal", title: "Nuova Location" } do %>
  <%= render "locations/form",
             location: Location.new,
             modal_id: "new_location_modal",
             target_list_id: "locations_list_target",
             role: "location" %>
<% end %>

<%= render layout: "shared/modal", locals: { id: "new_photographer_modal", title: "Nuovo Fotografo" } do %>
  <%= render "contacts/form",
             contact: Contact.new(kind: :person),
             url: contacts_path,
             modal_id: "new_photographer_modal",
             target_list_id: "photographers_list_target",
             role: Participation::ROLES[:photographer] %>
<% end %>

<%= render layout: "shared/modal", locals: { id: "new_client_modal", title: "Nuovo Cliente" } do %>
  <%= render "contacts/form",
             contact: Contact.new(kind: :company),
             url: contacts_path,
             modal_id: "new_client_modal",
             target_list_id: "clients_list_target",
             role: Participation::ROLES[:client] %>
<% end %>

<%= render layout: "shared/modal", locals: { id: "new_subject_modal", title: "Nuovo Soggetto" } do %>
  <%= render "contacts/form",
             contact: Contact.new(kind: :person),
             url: contacts_path,
             modal_id: "new_subject_modal",
             target_list_id: "subjects_list_target",
             role: Participation::ROLES[:subject] %>
<% end %>
