<%= form_with(model: user) do |f| %>

  <%= render "shared/form_errors", object: user %>

  <fieldset class="fieldset">
    <fieldset class="fieldset">
      <%= f.label :nickname, class: "label" %>
      <%= f.text_field :nickname, class: "input w-full", autofocus: true %>
    </fieldset>


    <fieldset class="fieldset">
      <legend class="fieldset-legend">Sicurezza</legend>

      <fieldset class="fieldset">
	<%= f.label :password, class: "label flex justify-between" do %>
	  <span>Nuova Password</span>
	  <span class="text-xs font-normal opacity-60">Opzionale</span>
	<% end %>

	<%= f.password_field :password,
	   class: "input w-full",
	   placeholder: "Lascia vuoto per non cambiare" %>
      </fieldset>

      <fieldset class="fieldset">
	<%= f.label :password_confirmation, "Conferma Nuova Password", class: "label" %>
	<%= f.password_field :password_confirmation, class: "input w-full" %>
      </fieldset>
    </fieldset>
  </fieldset>

  <!-- Begin Actions -->
  <div class="modal-action">

    <%= f.submit "Salva", class: "btn btn-primary" %>

    <button
      type="button"
      class="btn"
      data-action="dialog#close">
      Chiudi
    </button>

  </div>
  <!-- End Actions -->

<% end %>
