<%= form_with(
  model: location,
  id: "#{local_assigns[:modal_id]}_form",
  class: "flex flex-col gap-4",
  data: { turbo_frame: "_top" }
) do |form| %>

  <%# --- Campi nascosti per il routing del modale --- %>
  <% if local_assigns[:modal_id].present? %>
    <%= hidden_field_tag :modal_id, local_assigns[:modal_id] %>
    <%= hidden_field_tag :target_list_id, local_assigns[:target_list_id] %>
  <% end %>

  <%# --- Gestione Errori --- %>
  <% if location.errors.any? %>
    <div role="alert" class="alert alert-error">
      <span><%= pluralize(location.errors.count, "errore impedisce", "errori impediscono") %> il salvataggio:</span>
      <ul>
        <% location.errors.each do |error| %>
          <li>- <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# --- Campi Location (Allineati allo Schema DB) --- %>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Nome Location *</legend>
    <%= form.text_field :name, class: "input w-full", id: local_assigns[:input_id] %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Provincia / Zona (District)</legend>
    <%= form.text_field :district, class: "input w-full" %>
  </fieldset>

  <%# --- Azioni Form --- %>
  <div class="mt-6">
    <%= form.submit "Salva Location", class: "btn btn-primary w-full sm:w-auto" %>
  </div>

<% end %>
